* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

main {
  background-color: whitesmoke;
  color: #414141;
}

h3 {
  font-size: 12px;
}

.poster {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.poster:hover {
  opacity: 70%;
}
